* {
    box-sizing: border-box;
}

a:hover {
    color: blue;
}

a {
    display: inline-block;
    padding: 10px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-left: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.text {
    font-family: 'Work Sans', sans-serif;
    margin-left: auto;
    justify-content: flex-end;
    color: black;
}

.icon {
    margin: auto;
    color: black;
}

.gray-box {
    background-color: lightgrey;
    height: 100px;
}

.link-container {
    display: flex;
    list-style-type: none;
}

.icon-container {
    display: flex;
    list-style-type: none;
    padding-bottom: 40px;
}

.logo-container {
    display: flex;
    list-style-type: none;
}

.list-item-text {
    flex-direction: column;
    justify-content: center;
}