* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 20px;
}

div {

}

h2 {
    font-weight: bold;
}


/* DIV FLEXBOX (DEFAULT) */


.flex-container-df-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
}

.flex-item-df-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* UL/LI FLEXBOX (DEFAULT) */


.flex-container-df-2 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
}

.flex-list-item-df-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
    list-style: none;
}


/* DIV FLEXBOX (ROW-REVERSE) */


.flex-container-rev-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    flex-direction: row-reverse;
}

.flex-item-rev-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (COLUMN) */


.flex-container-col-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    flex-direction: column;
}

.flex-item-col-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (COLUMN-REVERSE) */


.flex-container-colrev-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    flex-direction: column-reverse;
}

.flex-item-colrev-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (JUSTIFY-CONTENT: FLEX-START/DEFAULT) */

.flex-container-jus-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: flex-start;
}

.flex-item-jus-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (JUSTIFY-CONTENT: FLEX-END) */

.flex-container-jusend-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: flex-end;
}

.flex-item-jusend-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (JUSTIFY-CONTENT: CENTER) */

.flex-container-juscen-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: center;
}

.flex-item-juscen-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (JUSTIFY-CONTENT: SPACE-BETWEEN) */

.flex-container-jusbe-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: space-between;
}

.flex-item-jusbe-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}

/* DIV FLEXBOX (JUSTIFY-CONTENT: SPACE-AROUND) */

.flex-container-jusar-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: space-around;
}

.flex-item-jusar-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (JUSTIFY-CONTENT: SPACE-EVENLY) */

.flex-container-jusev-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: space-evenly;
}

.flex-item-jusev-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX FLEX-DIRECTION: COLUMN; (JUSTIFY-CONTENT: FLEX-START) */

.flex-container-jus-col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 3px solid goldenrod;
    justify-content: flex-start;
}

/* YOU NEED TO PUT HEIGHT IN THE PARENT CONTAINER TO USE
JUSTIFY-CONTENT OR ELSE THE ITEMS WON'T MOVE */

.flex-item-jus-col-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX FLEX-DIRECTION: COLUMN; (JUSTIFY-CONTENT: FLEX-END) */

.flex-container-jusend-col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 3px solid goldenrod;
    justify-content: flex-end;
}

.flex-item-jusend-col-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX FLEX-DIRECTION: COLUMN; (JUSTIFY-CONTENT: CENTER) */

.flex-container-juscen-col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 3px solid goldenrod;
    justify-content: center;
}

.flex-item-juscen-col-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}



/* DIV FLEXBOX FLEX-DIRECTION: COLUMN; (JUSTIFY-CONTENT: SPACE-BETWEEN) */

.flex-container-jusbe-col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 3px solid goldenrod;
    justify-content: space-between;
}

.flex-item-jusbe-col-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX FLEX-DIRECTION: COLUMN; (JUSTIFY-CONTENT: SPACE-AROUND) */

.flex-container-jusar-col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 3px solid goldenrod;
    justify-content: space-around;
}

.flex-item-jusar-col-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX FLEX-DIRECTION: COLUMN; (JUSTIFY-CONTENT: SPACE-EVENLY) */

.flex-container-jusev-col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 3px solid goldenrod;
    justify-content: space-evenly;
}

.flex-item-jusev-col-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}



/* DIV FLEXBOX (PARAGRAPH-1) */

.flex-container-para-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: flex-start;
}

.flex-item-para-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (PARAGRAPH-2) */

.flex-container-para-2 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: center;
}

.flex-item-para-2 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (PARAGRAPH-3) */

.flex-container-para-3 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: flex-end;
}

.flex-item-para-3 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}



/* DIV FLEXBOX (3 PARAGRAPHS) */

.flex-container-para-3-1 {
    display: flex;
    width: 100%;
    border: 3px solid goldenrod;
    justify-content: space-around;
}

.flex-item-para-3-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (3 PARAGRAPHS V2) */

.flex-container-para-3-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 3px solid goldenrod;
    justify-content: space-evenly;
}

.flex-item-para-3-2 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (ALIGN ITEMS: FLEX-START) */

.flex-container-al-1 {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: flex-start;
    border: 3px solid goldenrod;
}

.flex-item-al-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (ALIGN ITEMS: FLEX-END) */

.flex-container-alend-1 {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: flex-end;
    border: 3px solid goldenrod;
}

.flex-item-alend-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}




/* DIV FLEXBOX (ALIGN ITEMS: STRETCH) */

.flex-container-alst-1 {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: stretch;
    border: 3px solid goldenrod;
}

.flex-item-alst-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}


/* DIV FLEXBOX (ALIGN ITEMS: CENTER) */

.flex-container-alcen-1 {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    border: 3px solid goldenrod;
}

.flex-item-alcen-1 {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}