
/* MOBILE VIEW */


.alert-info {
    background-color: lightblue;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 230px 20px;
    border: 1px solid gray;
    margin: 10px;

}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Ubuntu, sans-serif;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px;
}



li {
    background-color: lightgrey;
    padding: 50px 180px;
    margin: 10px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    list-style: none;
    font-family: Arial, Ubuntu, sans-serif;
}

.header-img {
    width: 339px;
    height: 224px;
}

.main {
    padding-top: 180px;
    font-family: Arial, Ubuntu, sans-serif;
}

.sub-section {
    font-family: Arial, Ubuntu, sans-serif;
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 95vw;
    padding-top: 6px;
}

/* DESKTOP VIEW */


@media screen and (min-width:768px) {

    section {
        display: block;
        margin-top: 280px;
    }

    h1 {
        float: left;
    }

    .hidden-on-desktop {
        display: none;
        background-color: lightblue;
        color: midnightblue;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
         margin: 5px;
    }

    li {
        background-color: white;
    padding: 1px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    list-style: none;
    font-family: Arial, Ubuntu, sans-serif;
}

    img {
        width: 95vw;
        padding-top: 6px;
    }

    /*section {*/
    /*    display: flex;*/
    /*}*/

    .main {
        /*padding-top: 280px;*/
        padding: 0;
        font-family: Arial, Ubuntu, sans-serif;
        float: left;
        width: 60vw;
    }

    .sub-section {
        margin-right: 2rem;
        float: right;
        width: 30vw;
    }

    footer {
        display: block;
        clear: both;
        margin-right: 2rem;
        padding-top: 175px;
    }

    footer p {
        float: left;
    }

    #social-media-links {
        float: right;
        padding-top: 7px;
    }

   #social-media-links i {
       margin: 1rem;
       font-size: 1.5rem;
   }

}