
/* MOBILE VIEW */


.alert-info {
    background-color: lightblue;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 230px 20px;
    border: 1px solid gray;
    margin: 10px;

}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Ubuntu, sans-serif;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px;
}



li {
    background-color: lightgrey;
    padding: 50px 180px;
    margin: 10px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    list-style: none;
    font-family: Arial, Ubuntu, sans-serif;
}

.header-img {
    width: 339px;
    height: 224px;
}

.main {
    padding-top: 180px;
    font-family: Arial, Ubuntu, sans-serif;
}

.sub-section {
    font-family: Arial, Ubuntu, sans-serif;
    font-style: italic;
}


/* DESKTOP VIEW */


@media screen and (min-width:768px) {

    .hidden-on-desktop {
        display: none;
        background-color: lightblue;
        color: midnightblue;
    }

}